.sample_class button {
  padding: 13px;
  margin-left: 18px;
  font-size: 20px;
  margin-top: 13px;
}
.span_number, span_number2 {
  float: left;
  width: 165px;
  text-align: center;
}.span_number span, .span_number2 span {
  font-size: 49px;
  margin-right: 90px;
}
.show{
  display: flex;
  flex-direction: column;
}
button.btn.btn-success.btn-sm.start {
  width: 13%;
}
button.badge.badge-primary {
  margin-right: 85px;
  width: 50%;
}
.span_number{
  display: flex;
}
.startnow {
  width: 116%;
}
