<div class="container myContainer">
  <h1>welcome to {{ title}}</h1>
    <!-- <div class="container" [style.display]=hide >
     <div class=sample_class><button type="button" disable>-5</button>
      <button type="button" disable>10</button>
      <br>
      <button type=button ng-model="show" (click)="changeEvent()" >Start</button>
    </div>
    </div> -->
      <div class=sample_class>
  <!-- <div class="buttons-section" [style.display]=hideShow><button class="btn btn-success btn-sm mr-2" (click)="decrement()">Increase</button> -->

    <div class="show"  ng-show="showng">
      <div class="span_number">
          <ng-container *ngIf="(count$ | async) as number">
              <button type="button" disabled class="badge badge-primary" [ngStyle]="{'color': getColor(number)}" [innerText]="number">10</button>
            </ng-container>
            <ng-container *ngIf="(count1$ | async) as num">
                <button type="button" disabled class="badge badge-primary" id="counting" [ngStyle]="{'color': getColor(num)}"  [innerText]="num">-5</button>
              </ng-container>
      </div>
      <div class="startnow">
       <button class="btn btn-success btn-sm start" (click)="increment();">Start</button>
      </div>
      </div>


